body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, Times, serif; 
}
body *{
  margin: 0;
  padding: 0;
}


.page__content{
  width: 80vw;
  margin: 0 auto;
}

.titles{
  font-size: 44px;
  margin: 20px;
  color: #32cd32;
}

.text{
  margin: 25px 20px 45px;
  font-size: 20px;
  text-align: justify;
}

.subtitles{
  font-size: 36px;
  margin: 20px;
  color: #e66b00;
}

